body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #090909;
    line-height: 2;
}

header {
    background-color: #ffffff;
    padding: 0px 0;
    text-align: center;
    padding-left: 20px;
}

header h1 a {
    text-decoration: none;
    color: #333;
    position: relative;
}

header h1 a:hover::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
}

time {
    color: #999;
    font-style: italic; 
    font-size: medium;

}
hr {
    border: 0;
    border-top: 1px solid #e9e4e4;
    margin: 0px auto;
    max-width: 700px;
}

main {
    padding: 100px;
    max-width: 700px; 
    margin: 0 auto; 
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}


nav ul li {
    display: inline-block;
    padding-left: 0;
    margin: 20px;
    text-align: left;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    position: relative;
    text-align: left;
}

nav ul a:hover::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
}

main {
    padding: 20px;
}

.post-list ul {
    list-style: none;
    padding: 0;
}

.post-list ul li {
    margin-bottom: 10px;
}

.post-list li a {
    text-decoration: none;
    color: #2a689e;
    position: relative;
    font-style: bold;
}

.post-list li a:hover::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
}

footer {
    text-align: center;
    padding: 10px 20;
    background-color: #ffffff;
    color: #999;
}
